In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('suicides_heat.csv')

In [3]:
df

,Unnamed: 0,State,State Code,Year,Year Code,Month,Month Code,Deaths,Population,Crude Rate,avg_max_t,avg_min_t,avg_max_heat_index,min_t_diff,max_t_diff,heat_index_diff
0,0,Alabama,1.0,1999.0,1999.0,1,1999/01,43.0,4430141.0,0.970624,59.24,39.46,NaN,3.716923,4.527692,NaN
1,1,Alabama,1.0,1999.0,1999.0,2,1999/02,48.0,4430141.0,1.083487,62.48,42.21,81.68,3.696923,3.775385,-0.868333
2,2,Alabama,1.0,1999.0,1999.0,3,1999/03,33.0,4430141.0,0.744897,61.26,40.71,NaN,-4.512308,-4.990769,NaN
3,3,Alabama,1.0,1999.0,1999.0,4,1999/04,52.0,4430141.0,1.173778,76.51,56.40,86.50,3.476154,2.216154,1.955385
4,4,Alabama,1.0,1999.0,1999.0,5,1999/05,55.0,4430141.0,1.241495,79.65,61.03,84.30,-1.141538,-1.800000,-3.754615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6744,6744,Wyoming,56.0,2011.0,2011.0,3,2011/03,11.0,568158.0,1.936081,38.70,24.33,NaN,1.348000,1.042000,NaN
6745,6745,Wyoming,56.0,2011.0,2011.0,5,2011/05,13.0,568158.0,2.288096,54.48,36.61,79.77,-1.500000,-2.025000,-0.925000
6746,6746,Wyoming,56.0,2011.0,2011.0,6,2011/06,12.0,568158.0,2.112089,70.23,47.69,82.70,-1.950000,-0.842500,0.530000
6747,6747,Wyoming,56.0,2011.0,2011.0,7,2011/07,23.0,568158.0,4.048170,82.22,59.68,84.69,0.021429,0.502857,0.285714
6748,6748,Wyoming,56.0,2011.0,2011.0,11,2011/11,11.0,568158.0,1.936081,35.92,21.48,NaN,-3.130000,-3.275000,NaN

In [4]:
summer = df.query('5 < Month < 9')
winter = df.query('Month < 4 or Month > 10')
spring = df.query('3 < Month < 6')
longsummer = df.query('3 < Month < 9')
fall = df.query('8 < Month < 11')

In [5]:
summer

,Unnamed: 0,State,State Code,Year,Year Code,Month,Month Code,Deaths,Population,Crude Rate,avg_max_t,avg_min_t,avg_max_heat_index,min_t_diff,max_t_diff,heat_index_diff
5,5,Alabama,1.0,1999.0,1999.0,6,1999/06,46.0,4430141.0,1.038342,84.61,70.31,90.43,-0.577692,-3.099231,-3.080769
6,6,Alabama,1.0,1999.0,1999.0,7,1999/07,34.0,4430141.0,0.767470,88.15,75.31,97.33,0.819231,-1.883846,0.124615
7,7,Alabama,1.0,1999.0,1999.0,8,1999/08,57.0,4430141.0,1.286641,91.29,73.70,99.27,-0.910000,0.162308,1.519231
17,17,Alabama,1.0,2000.0,2000.0,6,2000/06,58.0,4447100.0,1.304221,87.57,69.39,91.86,-1.497692,-0.139231,-1.650769
18,18,Alabama,1.0,2000.0,2000.0,7,2000/07,41.0,4447100.0,0.921949,93.44,74.22,98.00,-0.270769,3.406154,0.794615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,6731,Wyoming,56.0,2009.0,2009.0,7,2009/07,14.0,559851.0,2.500665,77.41,55.93,82.54,-3.728571,-4.307143,-1.864286
6738,6738,Wyoming,56.0,2010.0,2010.0,7,2010/07,10.0,563626.0,1.774226,79.65,57.03,83.63,-2.628571,-2.067143,-0.774286
6739,6739,Wyoming,56.0,2010.0,2010.0,8,2010/08,14.0,563626.0,2.483917,78.80,56.91,83.73,-1.000000,-0.450000,0.046667
6746,6746,Wyoming,56.0,2011.0,2011.0,6,2011/06,12.0,568158.0,2.112089,70.23,47.69,82.70,-1.950000,-0.842500,0.530000
6747,6747,Wyoming,56.0,2011.0,2011.0,7,2011/07,23.0,568158.0,4.048170,82.22,59.68,84.69,0.021429,0.502857,0.285714

In [6]:
q_95 = np.quantile(df.query('3 < Month < 9').avg_max_heat_index.dropna(), .95)
q_95

99.13099999999999

In [7]:
q_05 = np.quantile(df.query('3 < Month < 9').avg_max_heat_index.dropna(), .05)
q_05

80.888

In [8]:
q_50 = np.quantile(df.query('3 < Month < 9').avg_max_heat_index.dropna(), .50)
q_50

87.45

In [9]:
summer_df = summer[['State', 'avg_max_heat_index', 'heat_index_diff', 'Deaths', 'Crude Rate']]
summer_df

        State  avg_max_heat_index  heat_index_diff  Deaths  Crude Rate
5     Alabama               90.43        -3.080769    46.0    1.038342
6     Alabama               97.33         0.124615    34.0    0.767470
7     Alabama               99.27         1.519231    57.0    1.286641
17    Alabama               91.86        -1.650769    58.0    1.304221
18    Alabama               98.00         0.794615    41.0    0.921949
...       ...                 ...              ...     ...         ...
6731  Wyoming               82.54        -1.864286    14.0    2.500665
6738  Wyoming               83.63        -0.774286    10.0    1.774226
6739  Wyoming               83.73         0.046667    14.0    2.483917
6746  Wyoming               82.70         0.530000    12.0    2.112089
6747  Wyoming               84.69         0.285714    23.0    4.048170

[1692 rows x 5 columns]

In [18]:
def heat_category(temp, low, high):
    if temp <= low:
        return 'low heat'
    if temp >= high:
        return 'high heat'
    return 'medium heat'

summer_df['heat_index_level'] = summer_df['avg_max_heat_index'].map(lambda x: heat_category(x, q_05, q_95))
summer_df.head()

,State,avg_max_heat_index,heat_index_diff,Deaths,Crude Rate,heat_index_level
5,Alabama,90.43,-3.080769,46.0,1.038342,medium heat
6,Alabama,97.33,0.124615,34.0,0.767470,medium heat
7,Alabama,99.27,1.519231,57.0,1.286641,high heat
17,Alabama,91.86,-1.650769,58.0,1.304221,medium heat
18,Alabama,98.00,0.794615,41.0,0.921949,medium heat

In [20]:
from statsmodels.stats.anova import AnovaRM

In [22]:
anovrm_1 = AnovaRM(summer_df, 'Deaths', 'State', within=['heat_index_level'], aggregate_func=np.mean)
res = anovrm_1.fit()

print(res)

ValueError: Data is unbalanced.

In [24]:
def parser(x):
    return pd.datetime.strptime(x, '%Y/%m')

suicides = pd.read_csv('suicides_heat.csv', parse_dates=['Month Code'], index_col=0, date_parser=parser)

In [25]:
suicides

,State,State Code,Year,Year Code,Month,Month Code,Deaths,Population,Crude Rate,avg_max_t,avg_min_t,avg_max_heat_index,min_t_diff,max_t_diff,heat_index_diff
0,Alabama,1.0,1999.0,1999.0,1,1999-01-01,43.0,4430141.0,0.970624,59.24,39.46,NaN,3.716923,4.527692,NaN
1,Alabama,1.0,1999.0,1999.0,2,1999-02-01,48.0,4430141.0,1.083487,62.48,42.21,81.68,3.696923,3.775385,-0.868333
2,Alabama,1.0,1999.0,1999.0,3,1999-03-01,33.0,4430141.0,0.744897,61.26,40.71,NaN,-4.512308,-4.990769,NaN
3,Alabama,1.0,1999.0,1999.0,4,1999-04-01,52.0,4430141.0,1.173778,76.51,56.40,86.50,3.476154,2.216154,1.955385
4,Alabama,1.0,1999.0,1999.0,5,1999-05-01,55.0,4430141.0,1.241495,79.65,61.03,84.30,-1.141538,-1.800000,-3.754615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6744,Wyoming,56.0,2011.0,2011.0,3,2011-03-01,11.0,568158.0,1.936081,38.70,24.33,NaN,1.348000,1.042000,NaN
6745,Wyoming,56.0,2011.0,2011.0,5,2011-05-01,13.0,568158.0,2.288096,54.48,36.61,79.77,-1.500000,-2.025000,-0.925000
6746,Wyoming,56.0,2011.0,2011.0,6,2011-06-01,12.0,568158.0,2.112089,70.23,47.69,82.70,-1.950000,-0.842500,0.530000
6747,Wyoming,56.0,2011.0,2011.0,7,2011-07-01,23.0,568158.0,4.048170,82.22,59.68,84.69,0.021429,0.502857,0.285714
6748,Wyoming,56.0,2011.0,2011.0,11,2011-11-01,11.0,568158.0,1.936081,35.92,21.48,NaN,-3.130000,-3.275000,NaN